{% extends 'base.html' %}
{% load static %}
{% block title %}Asset List{% endblock %}

{% block content %}
<div class="container mt-4">

  <!-- Page Header -->
  <div class="page-header p-4 rounded-3 mb-4 border">
    <h1 class="h4 fw-bold mb-1">Assets</h1>
    <p class="mb-0">View and manage all campus assets</p>
  </div>

  <!-- Action Bar + Search -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <form method="get" class="d-flex gap-2">
      <input type="text" name="q" value="{{ query }}" class="form-control form-control-sm" placeholder="Search...">
      <button type="submit" class="btn btn-sm btn-success">
        <i class="bi bi-search"></i>
      </button>
    </form>

    <a href="{% url 'add_asset' %}" class="btn btn-sm btn-success">
      <i class="bi bi-plus-circle me-1"></i> Add asset
    </a>
  </div>

  <!-- Assets Table -->
  {% if assets %}
  <div class="card border">
    <div class="card-body p-0">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Serial Number</th>
            <th>Condition</th>
            <th>Department</th>
            <th>Status</th>
           
          </tr>
        </thead>
        <tbody>
          {% for asset in assets %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ asset.name }}</td>
            <td>{{ asset.category }}</td>
            <td>{{ asset.serial_number }}</td>
            <td>{{ asset.condition }}</td>
            <td>{{ asset.department.name|default:"-" }}</td>
            <td>{{ asset.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  
    <!-- Empty State Table -->
  <div class="card border text-center ">
    <div class="card-body">
      <i class="bi bi-arrow-left-right display-4 d-block mb-3"></i>
      <h5 class="mb-3">No Assets Records Found</h5>
      <p class="mb-4">Add assets to populate the system.</p>
      <a href="{% url 'add_asset' %}" class="btn btn-success">
        <i class="bi bi-plus-circle me-2"></i>Add Asset
      </a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}