{% extends 'base.html' %}
{% load static %}
{% block title %}Maintenance Records{% endblock %}

{% block content %}
<div class="container mt-4">
  <!-- Page Header -->
 <div class="page-header p-4 rounded-3 mb-4 border">
    <h4 class="fw-bold mb-1">Maintenance Records</h4>
    <p class="mb-0">View all maintenance activities on campus assets</p>
  </div>

  <!-- Action Bar -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h5 class="fw-bold mb-0">Maintenance History</h5>
    <a href="{% url 'add_maintenance' %}" class="btn btn-sm btn-success">
       Add Maintenance
    </a>
  </div>

  <!-- Maintenance Records Table -->
  {% if records %}
  <div class="card border">
    <div class="card-header ">
      <span>Records ({{ records.count }})</span>
    </div>
     <div class="card-body p-0">  
        <table class="table table-hover mb-0">
            <thead>
          <tr>
            <th class="ps-4">#</th>
            <th>Asset</th>
            <th>Issue Reported</th>
            <th>Date</th>
            <th>Performed By</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
          <tr>
            <td class="ps-4">{{ forloop.counter }}</td>
            <td>{{ record.asset.name }}</td>
            <td>{{ record.issue_reported }}</td>
            <td>{{ record.maintenance_date|date:"M d, Y" }}</td>
            <td>{{ record.performed_by }}</td>
            <td>
              {% if record.remarks %}
                {{ record.remarks }}
              {% else %}
                <span>-</span>
              {% endif %}
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  
  <!-- Empty State -->
  <div class="card border text-center ">
    <div class="card-body">
      <h5 class="mb-3">No Maintenance Records</h5>
      <p class="mb-4">Add records to track asset maintenance.</p>
      <a href="{% url 'add_maintenance' %}" class="btn btn-secondary">
        Add Maintenance
      </a>
    </div>
  {% endif %}
  </div>
{% endblock %}